.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.github-logo {
  max-width: 300px;
}

.darker {
  background-color: #1B1F23;
}

.page-footer {
  position:fixed;
  bottom: 0;
  width: 100%;
}

@media only screen and (max-width: 425px) {
  .github-logo {
    max-width: 200px;
  }
}
.card{
  max-width: 400px;
}

.user-img {
  max-width: 25%;
}